.dayly_title > span{
    font-size: 13px;
    font-weight: 400;
    color: #747474;
}
.list_group_item{
    color:white !important;
}
.dayly_card:hover  .list_group_item{
    color:#222831 !important;
}
.dayly_card:hover{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(171 171 171) 52%, rgba(255,255,255,1) 100%);   
    color: #222831 !important;
    box-shadow: 0 0 40px -5px rgb(0 0 0 / 20%);
    cursor: pointer !important;

}
.temp_icon > img{
    width: 75%;
}
.temp_text > span{
    font-size: 3em;
    font-weight: 800;
}
.small_text{
    font-size: 0.9em;
}
