body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;

  justify-content: start;
  justify-items: center;
  flex-direction: column;
  background: #181f28;
  color:whitesmoke !important;
  background-size: cover;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.App-link {
color: #61dafb;
}

@keyframes App-logo-spin {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}


/* .wolf-list-group */
.wolf-list-group-item{
color: white;
border: 1px solid rgb(255 255 255 / 13%);
}
.btn-round{
border-radius: 50px;
}
.font-size-1{
font-size: .84em;
}

.alert-custom{
color: #22bcdf;
background-color: #02020205;
border-color: #22bcdf;
}
.form-control{
background-color: #181f28 !important;
border: 1px solid #6c757d !important;
color: #6c757d;
}
.form-control:focus {
color: #6c757d;
}
.footer{
color : whitesmoke !important;
}
.content-app{
display: flex;
flex-direction: column;
justify-content: space-between;
min-height: calc(100vh - 56px);
}
.weather_icon{
filter: drop-shadow(6px 6px 2px rgb(0 0 0 / 0.4));
}

.link{
color: #ababab !important;
}
.link:hover {
color: #22bcdf !important;
}
/* hourly CSS */
.hourly_list{
padding-left : 0 !important;
}
.HourlyForecast_hourly_list{
overflow: scroll;
overflow-x: hidden !important;
}

/* hourly Items CSS */
.hourly_item{
background :#212529;
position: relative;
}
.hourly_item:hover,
.hourly_item:first-child:hover{
background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(171 171 171) 52%, rgba(255,255,255,1) 100%);    color: #222831 !important;
box-shadow: 0 0 40px -5px rgb(0 0 0 / 20%);
cursor: pointer !important;

}
.hourly_item:first-child{
background: #2c3136 ;
}
.hourly_item:first-child:before {
color: #768599;
content: "";
position: absolute;
height: 5px;
width: 100%;
top: 0;
background: #768599;
}

.descriprion{
font-size: 0.8em;
}
.hourly_hour{
font-size: 9px !important;
}


/* Current CSS */
.currentContent{
margin-bottom : 35px;
}
.temp > span {
font-weight: 700;
font-size: 6em;
line-height: normal;
}

.countryNameContent > span {
font-size: 2.5em;
font-weight: 200;
}
.dayName{
font-weight: 200;
}
.maxMinTemp{
display: flex;
flex-direction: column;
justify-content: space-around;
height: 100%;
padding-left: 13px;
color: #89898b;
}
.descriptionTemp{
background: #212529;
padding: 5px;
}

/* dayly CSS */
.dayly_list > li:first-child{
padding-left: 0 !important;
}
.dayly_title > span{
font-size: 13px;
font-weight: 400;
color: #747474;
}
.list_group_item{
color:white !important;
}
.dayly_card:hover  .list_group_item{
color:#222831 !important;
}
.dayly_card:hover{
background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(171 171 171) 52%, rgba(255,255,255,1) 100%);   
color: #222831 !important;
box-shadow: 0 0 40px -5px rgb(0 0 0 / 20%);
cursor: pointer !important;

}
.temp_icon > img{
width: 75%;
}
.temp_text > span{
font-size: 3em;
font-weight: 800;
}
.small_text{
font-size: 0.9em;
}



/* detailCurrent CSS */
.svg {
display: block;
margin: 20px auto;
max-width: 100%;
}

.svg-circle-bg {
fill: none;
}

.svg-circle {
fill: none;
}
.svg-circle{
font-size: 2rem;
text-anchor: middle;

font-weight: bold;
}

.svg_content{
position: relative;
}
.moon_phase_content{
position: absolute;
width: 100%;
height: 100%;
top: 0;
display: flex;
justify-content: center;
align-items: center;
}

.left-block > div {

padding: 15px;
border: 1px solid #363c44;
border-radius: 5px;
margin-bottom: 5px;

}

.right-block-item{
background: #212529;
padding: 10px;
margin-bottom: 10px;
}

@media(min-width: 991px){
.right-block-item{
  background:none;
  padding: 0px;
  margin-bottom: 0px;
}

}
/* Loader CSS */
.box {
height: 300px;
display: flex;
justify-content: center;
align-items: center;
}
.box svg path,
.box svg rect {
fill: #65b6ee;
}
